@{
    ViewData["Title"] = "Home Page";
}


<h1 class="display-1">Welcome to John's Table Top Gaming</h1>

<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://img.freepik.com/free-photo/challenger-stands-front-spooky-castle-illustration_456031-14.jpg?w=996&t=st=1689899309~exp=1689899909~hmac=d567bda5feba3c856394a1cf04665273d4721b5b42004974065c4f1b2be7af5e" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/free-vector/fantasy-ranger-cape-with-spear-night-forest_107791-13727.jpg?w=996&t=st=1689899340~exp=1689899940~hmac=5b33b5befee5898f189f1733e038181f176ddc2337cf40f2832abb797b526c9f" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://img.freepik.com/free-vector/black-spooky-castle-flying-dragon-canyon-with-mountains-forest-cartoon-fantasy-illustration-with-medieval-palace-with-towers-creepy-beast-with-wings-rocks-pine-trees_107791-4592.jpg?w=996&t=st=1689899374~exp=1689899974~hmac=ecdcbee5a87064c170324d67fccab9ed2f9c6f70927dbf1233ccdd2a8a6bf939" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Service Type</th>
                <th scope="col">Typical Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Custom Game Setting</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td>Consultation</td>
                <td>$15/hour</td>
            </tr>
        </tbody>
    </table>
</div>
<br />

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Get Ready To Roll!</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Contact Me</h6>
        <p class="card-text">Let's get you and your group ready to face the unknown.</p>
        <a href="#" class="card-link">Email TBD</a>
        <a href="#" class="card-link">Phone TBD</a>
    </div>
</div>
<br />

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                About My Services
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <strong>I have over 20 years of table top experience.</strong> I have run several 
                campaigns in settings of my own creation for groups of 2 to 12 players.  From
                world spanning war fueled by political intrigue to both team and free-for-all PvP.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Custom Game Settings
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                <strong>A world never played before, made just for you.</strong> Share a brand new 
                adventure with your group built from the ground up for you to enjoy.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Consultations
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                <strong>Need help with writer's block?</strong> Come in for a consultation and I'll 
                help you find the next plot hook your campaign needs. I can also give advise on
                how to deal with over powered players and the dreaded "That Guy."
            </div>
        </div>
    </div>
</div>