@{
    ViewData["Title"] = "Home Page";
}


<h1 class="display-1">Welcome to John's Table Top Gaming</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Service Type</th>
                <th scope="col">Typical Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Custom Game Setting</td>
                <td>$49.99</td>
            </tr>
            <tr>
                <td>Consultation</td>
                <td>$15/hour</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                About My Services
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <strong>I have over 20 years of table top experience.</strong> I have run several 
                campaigns in settings of my own creation for groups of 2 to 12 players.  From
                world spanning war fueled by political intrigue to both team and free-for-all PvP.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Custom Game Settings
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                <strong>A world never played before, made just for you.</strong> Share a brand new 
                adventure with your group built from the ground up for you to enjoy.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Consultations
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                <strong>Need help with writer's block?</strong> Come in for a consultation and I'll 
                help you find the next plot hook your campaign needs. I can also give advise on
                how to deal with over powered players and the dreaded "That Guy."
            </div>
        </div>
    </div>
</div>